/*---------------
# [Color Codes]

# Mid blue (navbar main) #2A437A
# Light blue (navbar + page desc) #556da5
# Dark blue (main content) rgb(40, 54, 85)
# Grey (link hover) rgb(206, 203, 203)

# */

html{
    background: rgb(83,36,115);
    background: linear-gradient(180deg,rgba(30,67,147,1) 25%, rgba(253,29,29,1) 54%, rgba(252,176,69,1) 82%);
}
h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 0 0 black, 4px 0 0 black, 4px 0 0 black, 4px 0 0 black ;
}
h3{
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}
/*****Navbar*****/
#logo{
    font-size: 50px;
    transition: 0.4s;
    margin-top: -5px;
    margin-left: -70px;
}
#navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #2A437A;
    height: 90px;
    z-index: 1;
    transition: 0.4s;
    padding: 10px 40px;
}
nav{
    background: #556da5;
    margin-top: -26px;
    border-top: 5px solid #4d699c;
    box-shadow: 0 5px 5px black;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
    position: fixed;
    left: 0;
    right: 0;
}
nav a{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 0 0 black, 2px 0 0 black, 2px 0 0 black, 2px 0 0 black ;
    text-decoration-color: black;
    padding: 5px;
}
nav a:hover{
    color: rgb(206, 203, 203);
    background-color: #4863a3;
}
/*****Main content*****/
body{
    padding-top: 90px;
}
main{
    display: grid;
    grid-template-columns: 23% 54% 23%;
}
.content{
    background: rgb(40, 54, 85);
    border: 3px black;
    border-style: none solid none;
}
#left{
    left: 0;
}
#right{
    right: 0;
}
.background-image{
    position: fixed;
    width: 355px;
    height: 336px;
    bottom: 0;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -khtml-user-drag: none;
}
.page-title{
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}
.page-description{
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    border: solid black;
    margin: 1em;
    background-color: #556da5;
}
.modified-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
/*****Playlist*****/
.playlist-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 35px;
    position: relative;
}
.drop-button{
    background-color: #556da5;
    color: white;
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
    border: none;
    cursor: pointer;
    width: 20em;
}
.drop-button:hover{
    background-color: #455781;
}
.dropdown{
    position: relative;
    display: inline-block;
    border: black solid;
}
.dropdown-content{
    display: none;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #e6e3e3;
    animation: rotateMenu 300ms ease-in-out forwards;
    transform-origin: top center;
    /*https://codinhood.com/micro/10-dropdown-menu-animations-css-transform*/
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: rgb(206, 203, 203);
}
.show{display: block;}

@keyframes rotateMenu {
    0% {
      transform: rotateX(-90deg)
    }
    70% {
      transform: rotateX(20deg)
    }
    100% {
      transform: rotateX(0deg)
    }
  }
/*****Character Creator*****/
.charcreate-desc{
    color: white;
    text-align: center;
    padding: 10px 30px;
}
.charcreate-desc a{
    color: white;
}
.charcreate-desc a:hover{
    color: rgb(206, 203, 203);
}
.slideshow-container{
    position: relative;
    margin: 2em;
    display: grid;
    grid-template-rows: 400px auto;
    grid-gap: 10px;
    border: black solid;
    background-color: #1e2944;
}
.slideshow-container div{
    display: none;
}
.slideshow-img{
    display: block;
    max-width: 100%;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
/* arrow buttons */
.prev, .next{
    position: absolute;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    width: auto;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 4px;
    margin-top: -60px;
    top: 50%;
}
.next{
    right: 0;
}
.prev:hover, .next:hover{
    color: rgb(173, 170, 170);
}
/*****Resources*****/
.res-content{
    border-top: solid black 5px;
}
.res-box{
    color: white;
    text-align: left;
    margin: 20px 20px;
    padding: 15px;
}
.res-content a{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(55, 75, 119);
    border-radius: 50%;
    padding: 15px;
    text-decoration: none;
}
.res-content a:hover{
    color: rgb(206, 203, 203);
    background-color: rgb(75, 103, 163);
}
/*****Footer*****/
footer{
    background: rgb(32, 44, 68);
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}